:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;

  /* colors */
  --clr-main-bg: #f0f0f5;

  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-orange-100: hsla(22, 93%, 75%, 1);
  --clr-orange-200: hsla(21, 65%, 57%, 1);
  --clr-black-100: hsla(0, 0%, 6%, 1);
  --clr-black-200: hsla(0, 0%, 0%, 1);
  --clr-gray-100: hsla(240, 8%, 28%, 1);
  --clr-gray-200: hsla(202, 11%, 96%, 1);
  --clr-gray-300: hsla(240, 8%, 28%, 1);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  color: #000;
  background: var(--clr-main-bg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
}

img {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
