:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;

  /* colors */
  --clr-dark-gray-100: #121212;
  --clr-dark-gray-200: #1d1d1d;
  --clr-dark-gray-300: #212121;

  --clr-text-100: #ffffff61;
  --clr-text-200: hsla(0, 0%, 100%, 0.6);
  --clr-text-300: hsla(0, 0%, 100%, 0.87);

  --clr-black-100: hsla(0, 0%, 0%, 1);

  --clr-accent-purple: #bb86fc;
  --clr-accent-green: #03dac5;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*:hover {
  transition: color 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--clr-text-300);
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
}

img {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
